/* Add this CSS to make placeholder content white */
input::placeholder,
textarea::placeholder {
    color: white;
}

.footer {
    background-color: black;
    color: white;
    padding: 40px 20px; /* Increased padding for better spacing */
    text-align: center;
}

.contact-us {
    width: 80%; /* Adjust the width as needed */
    max-width: 10000px; /* Maximum width of the form */
    margin: 0 auto;
    border: 2px solid yellowgreen; /* Add border to the entire contact section */
    padding: 20px; /* Add padding inside the border */
    border-radius: 10px; /* Add border radius for better appearance */
}

.contact-us h3 {
    margin-bottom: 20px; /* Add some spacing below the heading */
}

.form-row {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 20px); /* Adjust width to accommodate padding */
    padding: 10px;
    border: 2px solid yellowgreen; /* Border color yellowgreen */
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px; /* Increase font size for better readability */
}

/* Add this CSS to make placeholder content white */
input::placeholder,
textarea::placeholder {
    color: white;
}

textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
    height: 150px; /* Adjust height as needed */
}

button {
    background-color: yellowgreen;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px; /* Increase font size for better visibility */
    transition: background-color 0.3s ease; /* Add transition for hover effect */
    width: 20%;
}

button:hover {
    background-color: white;
    color: black;
}

/* Copyright*/
.copy_right{
    text-align: left;
    color: yellowgreen;
}
