/* ProductCard.css */

*{
  background-color: black;
}
.product-card {
  border: 1px solid greenyellow;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  object-fit: cover;
}

.product-info {
  padding: 60px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.product-description {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #ff6600; /* Orange color for price */
  margin-bottom: 10px;
}

.product-button {
  display: block;
  width: 100%;
  background-color: #ff6600; /* Orange color for button */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: #e65500; /* Darker shade of orange on hover */
}